#frase-grande {
    background-color: white;
    padding: 0px 0px ;
}
#frase-grande h1 {
    font-size: 3em;
}

.thumbnail{
    border: none !important;
}

.contenedor_icono{
    background-image: linear-gradient(to bottom, transparent 85%, #cad6e0 0%);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    padding-top: 20px; /* Espacio arriba */
}

.contenedor_texto{
    background-color: #cad6e0;
    padding-top: 5% !important; /* Espacio arriba */
    padding-left: 15% !important;
    min-height: 200px;

    border-bottom: 2px; /* Línea en la parte de abajo */
    border-left: 2px;   /* Línea izquierda solo hasta abajo */
    border-right: 2px;  /* Línea derecha solo hasta abajo */
    border-top: none;               /* Sin borde arriba */
    border-radius: 0 0 10px 10px;
}
