/* Estilos para el footer */
.footer {
  background-color:#073360;
  color: white;
  padding: 40px 0;
  font-size: 14px;
}

/* Logo en el footer */
.logo-footer {
  width: 120px;
}

/* Estilo general de los links del footer */
.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #cccccc; /* Color más claro al pasar el mouse */
}

#sub-col-der{
  padding-left: 10%;
}

#links-1{
  text-align: right;
}

#links-2{
text-align: left;
}

#iconos{
  text-align: left;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: transform 0.3s;
  fill: white;
}

/* Efecto hover */
.social-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}